buildNumber.properties
target/classes
target/test-classes
target/surefire-reports
target/generated-sources
target/generated-test-sources
target/schemaspy-6.0.0-rc2.jar
target/schemaspy-6.0.0-rc2.jar.original
./Work_time.ods
.idea/
target/failsafe-reports
target/maven-status/maven-compiler-plugin
.forked
